* {
    padding: 0;
    margin: 0;
}

.utama img {
    width: 100%;
    z-index: -1;
    position: absolute;
}

.container {
    width: 1200px;
    margin: auto;
}

.container header {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.container .logo {
    margin: 10px;
    text-align: left;
    width: 300px;
}

/* tulisan BEM FTI */
.container .logo h2 {
    color: darkorchid;
    font-size: 20px;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
}

/* tulisan UNTAR */
.container .logo p {
    font-size: 10px;
    font-weight: 100;
    font-family: 'Playfair Display', sans-serif;
    letter-spacing: 2px;
    color: #555;
}

.container .kata2bijak {
    float: left;
    width: 90%;
    margin-top: 50px;
}

.container .kata2bijak h3 {
    font-family: 'Satisfy', cursive;
    margin-top: 130px;
    font-size: 20px;
    color: #d6b8ff;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

.container .kata2bijak h1 {
    font-family: 'Poppins';
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

.container .kata2bijak h4 {
    font-family: 'Poppins', sans-serif;
    color: #f1f1f1;
    font-size: 20px;
    margin-top: -5px;
}

.container .navbar {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

menu a {
    color: white;
    text-decoration: none;
    margin: 0 20px 0 0;
    margin-left: 25px;
    font-size: 14px;
    font-weight: 1000;
    transition: 0.3s;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

menu a:hover {
    text-decoration: underline;
    color: purple;
}

.halamanutama .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    float: right;
    margin-top: 300px;
    margin-right: 5px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    color: #92A8D1;
    font-size: 30px;
}

body {
    font-family: "Poppins", sans-serif;
    width: 100%;
}

/* BOX */
.container .box {
    margin-top: 990px;
}

.duabox a {
    background-color: #92A8D1;
    color: black;
    text-decoration: none;
    padding: 12.5px 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: 'Poppins', sans-serif;
}

.duabox a.active {
    background-color: white;
}

.menukotak {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: stretch;
    padding: 20px;
    margin-top: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.kotak {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 20px;
}

.kotak label {
    font-family: 'Poppins', sans-serif;
    color: lightsteelblue;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 3px;
}

.kotak .input {
    display: flex;
    margin-top: 5px;
}

.kotak .input i {
    margin-right: 10px;
    background-color: white;
}

.kotak .input input {
    display: flex;
    width: 100%;
    border: none;
    outline: none;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    margin-top: -4px;
}

.kotaksearch {
    margin-top: 13px;
}

.kotaksearch a {
    font-family: 'Poppins', sans-serif;
    padding: 34px 70px;
    /* background-color: #92A8D1; */
    background-color: lightsteelblue;
    color: black;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-right: -20px;
    text-decoration: none;
}


/* utsbaru */
.Baru {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    gap: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.Baru .kiri {
    flex: 1;
}

.Baru .kiri h5,
.kiri h1 {
    margin: 0;
}

.ket-atas {
    color: #b35444;
    font-weight: 600;
    font-size: 18px;
}

.Baru .kiri .judul {
    margin-top: 0;
    font-size: 50px;
    color: olivedrab;
    margin-bottom: 15px;
}

.Baru .kiri .judul span {
    color: olive;
    font-weight: 700;
    text-decoration: underline 4px solid #f97316;
}

.deskripsi {
    color: #6b6b6b;
    line-height: 1.6;
    margin-bottom: 25px;
    max-width: 420px;
}

.tombolkiri {
    display: flex;
    align-items: left;
    max-width: 400px;
    gap: 20px;
}

.tombolkiri .kiri {
    background: olivedrab;
    color: #fff;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.tombolkiri .kiri:hover {
    background: #f59e0b;
}

.tombolkiri .kanan {
    display: flex;
    align-items: center;
    gap: 8px;
    background: none;
    border: none;
    color: green;
    font-weight: 600;
    cursor: pointer;
}

.mulai {
    background: olive;
    color: white;
    border-radius: 50%;
    padding: 15px;
    font-size: 12px;
}

.Baru .kanan {
    flex: 1;
    max-width: 400px;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.1);
    position: relative;
}

.Baru .kanan img {
    width: 100%;
    height: 230px;
    object-fit: cover;
}

.Baru .kanan .foto {
    z-index: 1;
    position: absolute;
    top: 215px;
    left: 10px;
    background: olivedrab;
    color: white;
    font-weight: 600;
    padding: 5px 12px;
    border-radius: 3px;
    font-size: 14px;
}

.Baru .kanan .isi .ket-bintang {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.Baru .kanan .isi {
    padding: 20px;
}

.Baru .kanan .isi h3 {
    font-size: 1.4rem;
    color: #1c1c50;
    margin-bottom: 8px;
}

.kanan .isi .bintang {
    color: olive;
    margin-bottom: 10px;
}

.kanan .isi .details {
    display: flex;
    gap: 15px;
    color: #6b6b6b;
    font-size: 14px;
    margin-bottom: 15px;
}

.kanan .isi p {
    color: #6b6b6b;
    line-height: 1.6;
    margin-bottom: 20px;
}

.kanan .isi .tombolkanan {
    display: flex;
    gap: 10px;
}

.kanan .isi .kanan {
    background: olivedrab;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 20px;
}

.kanan .isi .kiri {
    background: olivedrab;
    color: #fff;
    border: none;
    padding: 12px 20px;
    margin-right: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}


/* BAGIAN TUGAS */
/* .Tugas {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 100px;
}

.kiri {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    flex: 1;
    min-width: 300px;
}

.tugas {
    position: relative;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    color: white;
    padding: 18px;
    height: 300px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
} */

/* OVERLAY WARNA */
/* .tugas::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0;
    border-radius: 6px;
    transition: 0.3s ease;
}

.satu .tugas::before {
    background: rgba(76, 142, 209, 0.45);
}

.satu .tugas:hover::before {
    background: rgba(33, 125, 217, 0.65);
}

.dua .tugas::before {
    background: rgba(99, 255, 203, 0.45);
}

.dua .tugas:hover::before {
    background: rgba(0, 184, 122, 0.65);
}

.tiga .tugas::before {
    background: rgba(255, 224, 71, 0.45);
}

.tiga .tugas:hover::before {
    background: rgba(230, 200, 50, 0.65);
}

.empat .tugas::before {
    background: rgba(255, 164, 103, 0.45);
}

.empat .tugas:hover::before {
    background: rgba(255, 135, 55, 0.65);
}

.tugas * {
    position: relative;
    z-index: 1;
}

.tugas .icon {
    position: absolute;
    top: 15px;
    left: 0;
    background: plum;
    padding: 20px;
    font-size: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.Tugas .kanan {
    flex: 1;
    min-width: 320px;
    padding-left: 50px;
}

.meet {
    font-family: 'Caveat', cursive;
    font-size: 30px;
    color: plum;
    padding-top: 15%;
}

.title {
    font-size: 44px;
    font-weight: 700;
    margin-top: 20px;
}

.text {
    color: #777;
    line-height: 2;
    margin-bottom: 15px;
}

.btn {
    background: plum;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(230, 108, 230, 0.3);
    transition: all 0.3s ease;
}

.btn:hover {
    background: darkorchid;
} */

/* CSS KUNJUNGAN */
.Kunjungan {
    position: relative;
    left: 50%;
    margin-left: -50vw;
    width: 100vw;
    background-color: lightblue;
    text-align: center;
    color: white;
    padding: 60px 0;
    margin-bottom: 100px;
}

.judulkecil {
    font-size: 30px;
    font-family: 'Satisfy', cursive;
    font-style: italic;
    color: #046ab3;
    margin-bottom: 5px;
}

.judulgede {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 50px;
}

.kunjungancon {
    display: flex;
    justify-content: right;
    gap: 25px;
    margin-right: 1%;
}

.kotakkunjungan {
    width: auto;
    overflow: hidden;
}

.image {
    position: relative;
}

.kunjungancon .image img {
    height: 400px;
    border-radius: 15px;
}

.fakultas {
    position: absolute;
    left: 23px;
    background: #6bb9f0;
    color: #fff;
    padding: 6px 16px;
    font-weight: 600;
    font-size: 14px;
}

.tanggal {
    position: absolute;
    bottom: 10px;
    right: 0;
    background: #6bb9f0;
    color: #fff;
    padding: 6px 16px;
    font-weight: 600;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    font-size: 13px;
    margin-bottom: 20px;
}

/* PROKER */
.proker {
    text-align: center;
    margin-bottom: 100px;
}

.subtitle {
    font-family: "Caveat", cursive;
    font-size: 30px;
    color: #5ca4e9;
    margin-bottom: 8px;
}

.title {
    font-size: 36px;
    font-weight: 700;
    color: #222;
    margin-bottom: 50px;
}

.prokergrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    padding: 0 20px;
}

.kotakproker {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.kotakproker .price {
    position: absolute;
    left: 15px;
    background: #5ca4e9;
    color: #fff;
    font-weight: 500;
    font-size: 13px;
    padding: 7px 15px;
}

.kotakproker .image {
    position: relative;
}

.kotakproker img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.kotakproker .keterangan {
    padding: 18px 20px;
    text-align: left;
    background-color: white;
    width: 90%;
    margin-left: 15px;
    margin-top: -60px;
    position: relative;
}

.days {
    color: #5ca4e9;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}

.keterangan h3 {
    margin: 10px 0 6px;
    font-size: 18px;
    color: #222;
}

.keterangan p {
    font-size: 14px;
    color: #777;
    margin-bottom: 15px;
}

.info {
    display: flex;
    align-items: center;
    gap: 14px;
    font-size: 13px;
    color: #666;
}

.info i {
    color: #5ca4e9;
    margin-right: 5px;
}

.Perpisahan {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.Perpisahan .all {
    position: relative;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    height: 70vh;
    overflow: hidden;
}

.Perpisahan .all img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: -1;
}

.Perpisahan .all .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    background: white;
    border: none;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    font-size: 28px;
}

.Perpisahan .perpis {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}

.Perpisahan .perpis img {
    width: 600px;
    height: 500px;
    object-fit: cover;
    z-index: 2;
    margin-top: -150px;
    padding: 7px;
    background-color: white;
}

.Perpisahan .perpis .kata2perpis {
    padding-left: 40px;
}

.Perpisahan .kata2perpis h4 {
    color: hotpink;
    margin-bottom: 10px;
    font-size: 25px;
    font-family: 'Caveat', cursive;
}

.Perpisahan .kata2perpis h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #222;
}

.Perpisahan .kata2perpis p {
    margin-bottom: 20px;
    color: #555;
    line-height: 1.6;
}

.Perpisahan .kata2perpis .btn {
    background: hotpink;
    color: #fff;
    padding: 12px 25px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.Perpisahan .kata2perpis .btn:hover {
    background: fuchsia;
}

/* PESAN */
.Pesan {
    text-align: center;
    margin-top: 50px;
}

.Judulpesan {
    font-size: 28px;
    margin-bottom: 40px;
    color: white;
    font-weight: bold;
}

.semuapesan {
    margin-top: -350px;
    z-index: 2;
    position: relative;
}

.pesan-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.pesan {
    background: blanchedalmond;
    border-radius: 12px;
    padding: 20px;
    width: 300px;
    text-align: left;
}

.Pesan .all {
    opacity: 0.7;
}

.Pesan .pesan p {
    padding-top: 15px;
    padding-bottom: 15px;
}

.pesan-container .saya {
    display: flex;
    align-items: center;
    gap: 10px;
    bottom: auto;
}

.saya img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.saya strong {
    color: #222;
}

.saya span {
    font-size: 13px;
}


/* GALERY PERPIS */
.GaleryPerpis {
    text-align: center;
    width: 100%;
    margin-top: 80px;
}

.GaleryPerpis .subtitle {
    font-size: 30px;
    color: deeppink;
    margin-bottom: 10px;
}

.GaleryPerpis .title {
    font-size: 28px;
    margin-bottom: 40px;
    font-weight: bold;
}

.tigakotak {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.kotakperpis {
    border-radius: 12px;
    overflow: hidden;
    width: 380px;
}

.kotakperpis .love {
    position: absolute;
    z-index: 2;
    background: pink;
    color: #555;
    margin-left: -160px;
    padding: 10px 30px;
    font-weight: 600;
    font-size: 14px;
    border-end-end-radius: 5px;
    border-bottom-left-radius: 5px;
}

.kotakperpis .image img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
    position: relative;
}

.kotakperpis .ket {
    padding: 15px;
    display: left;
    text-align: left;
    position: relative;
    margin-left: 30px;
    margin-right: 30px;
    z-index: 2;
    background-color: white;
    bottom: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.kotakperpis .ket h3 {
    margin-bottom: 8px;
    font-size: 18px;
    color: #333;
    padding-left: 10px;
}

.kotakperpis .ket p {
    font-size: 14px;
    background-color: pink;
    padding: 10px 10px 10px 10px;
    margin-right: 180px;
    margin-left: 10px;
    border-radius: 5px;
}

/* BANNER */
.banner {
    margin: 100px auto 0 auto;
    max-width: 1200px;
    padding: 0 20px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Gambar dijadikan latar belakang */
.banner-content img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(60%);
}

.banner-content {
    color: #fff;
    text-align: center;
    padding-top: 150px;
}

.banner-content h2 {
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 1px;
    padding-top: 20px;
}

.banner-content p {
    margin: 8px 0 20px;
    font-size: 14px;
    color: #f0f0f0;
}

.banner-content .btn {
    background: purple;
    color: #fff;
    padding: 10px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
}

.banner-content .btn:hover {
    background: purple;
}

/* FOOTER */
.footer {
    background-size: contain;
    padding-top: 60px;
    background-color: lightpink;
    margin-top: 100px;
}

.footer-container {
    width: 85%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 40px;
}

.footer-col h3 {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
}

.footer-col p {
    color: #333;
    font-size: 14px;
    line-height: 1.6;
}

.footer-col ul {
    list-style: none;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}

.social-icons a {
    color: white;
    background: purple;
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 50%;
    text-align: center;
    margin-right: 8px;
    transition: 0.3s;
    margin-top: 15px;
}

.social-icons a:hover {
    background: #e04e33;
}

.contact-info li {
    color: #333;
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 1.5;
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    font-size: 13px;
    color: #555;
}

.Akhir {
    background-color: black;
    color: #ddd;
    padding: 15px 40px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    margin-top: 30px;
}

.plgbwh {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.Akhir .plgbwh .kiri a {
    color: #fbbf24;
    text-decoration: none;
}

.Akhir .plgbwh .kiri {
    max-width: 500px;
}

.plgbwh .kiri a:hover {
    text-decoration: underline;
}

.plgbwh .kanan {
    display: flex;
    gap: 15px;
}

.plgbwh .kanan a {
    color: #ccc;
    text-decoration: none;
    position: relative;
    padding-right: 10px;
}

.plgbwh .kanan a:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 1px;
    height: 14px;
}

.plgbwh .kanan a:hover {
    color: #fbbf24;
}